@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

body,
html,
:root {
  background: black;
  color: white;
  --background-black: rgba(0, 0, 0, 0.8);
  --border-gray: rgb(59, 59, 59);
}

a:link,
a:visited,
a:active {
  color: rgb(222, 222, 222);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
}

.wrapper {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1)),
    url(/public/stream_online_banner.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
